.DS_Store
node_modules
scripts/constants/Config.js
server/config
server/public/css
server/public/js
npm-debug.log
.idea/dbnavigator.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
